@import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville&display=swap');


*{
    box-sizing: border-box;
}

body{
    width: auto;
    height: auto;
    background-color: rgba(119,258,120);
    font-family: 'Libre Baskerville', serif;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    text-align: center;
    height: 95vh;
    overflow: hidden;
    margin: 0;
}

.btn{
    background-color: #1E5128;
    border-radius: 5px;
    border: none;
    color: #fff;
    margin: 1rem;
    padding: 1.5rem 3rem;
    font-size: 12rem;
    font-family: inherit;
    cursor: pointer;
}

.btn:hover{
    opacity: 0.9;
}

.btn:focus{
    outline: none;
}

